*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.wrapper{
    height: 100vh;
    width: 100vw;
    background-color: #0e0e0e;
    display: flex;
    justify-content: center;
    align-items: center;
}
.heading{
    text-align: center;
    max-width: 300px;
    margin: 20px auto;
    padding: 5px;
    color: white;
    text-transform: capitalize;
    font-size: 2rem;
    border: 1px solid white;
    border-radius: 10px;
}
.calculator{
    width: 60%;
    height: auto;
    padding-block: 20px;
}
#input-box{
    max-width: 300px;
    margin: auto;
    padding-block: 20px;
}
#input{
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    text-align: right;
    padding: 10px;
    font-size: 24px;
    margin-bottom: 20px;
    border: none;

}
.rows{
    max-width: 300px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    text-align: center;
}
.btns{
    width: 60px;
    height: 60px;
    border-radius: 15px;
    border: none;
    margin: 5px;
    background-color: rgb(23, 23, 34);
    color: white;
    font-size: 20px;
}

#reset{
    width: 215px;
    background-color: rgb(255, 166, 0);
}

#equalto{
    width: 60px;
    background-color: rgb(0, 255, 42);
}